<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>260679256167-n3g18vg5itkbt1qou8jlqdhmuj4l93g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260679256167-n3g18vg5itkbt1qou8jlqdhmuj4l93g1</string>
	<key>API_KEY</key>
	<string>AIzaSyDDTQjmPc3fzZPXfqkBlg01XS2g92Hx2Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>260679256167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saket.Vyayamshala</string>
	<key>PROJECT_ID</key>
	<string>vyayamshala-72a3c</string>
	<key>STORAGE_BUCKET</key>
	<string>vyayamshala-72a3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:260679256167:ios:21f0d5a700b4752a</string>
	<key>DATABASE_URL</key>
	<string>https://vyayamshala-72a3c.firebaseio.com</string>
</dict>
</plist>