<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vyayamshala.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3ABA55EA1E3BCD4D00CFD24D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ABA56011E3BCD4E00CFD24D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ABA560C1E3BCD4E00CFD24D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
